.Select-control {
  background-color: black; /* background color when unselected */
  color: white; /* text color when unselected */
}

.Select--single > .Select-control .Select-value {
  color: black; /* background color when selected */
}

.Select-menu-outer {
  background-color: #C0B0FC; /* scroll bar color */
}

.Select-option.is-focused {
  background-color: #02df44; /* navigation background color */
}

.Select-option.is-selected {
  background-color: #f081ff; /* selected border color */
}

